# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyCX6raL-R8YskqX9hU7tLBWuakI4Sx1xeM"
VITE_FIREBASE_AUTH_DOMAIN="dashboard-30e6b.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="dashboard-30e6b"
VITE_FIREBASE_STORAGE_BUCKET="dashboard-30e6b.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="523380052030"
VITE_FIREBASE_APP_ID="1:523380052030:web:87940c22083e064914c16f"
VITE_FIREBASE_MEASUREMENT_ID="G-3B6LDY1X22"

